# Instagram Credentials
IG_USERNAME=your_username
IG_PASSWORD=your_password
IG_2FA_SEED=your_2fa_seed_here (Optional for automated login)
IG_SESSIONID=your_browser_session_id (Use this if your IP is blacklisted)
IG_PROXY=your_proxy_url_here (Optional, format: http://user:pass@host:port)

# AI & API Keys
GEMINI_API_KEY=your_gemini_key
PIXABAY_API_KEY=your_pixabay_key

# Content Settings
CONTENT_NICHE=Fascinating Space Facts
